// ------------------------ Bootstrap variables

$theme-colors: (
    "primary": #31b6ad,
    "secondary": #6c757d,
    "success": #28a745,
    "info": #25d366,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #343a40,
);

$body-tertiary-bg: white;
$border-radius: 50px;
$btn-color: white;

// ------------------------ Importacion de bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// ------------------------ Global h elements

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 8px;
}

// ------------------------ Bootstrap titulos

h1,
h2,
h3 {
    color: #31b6ad;
}

// ------------------------ Bootstrap botones

.btn {
    color: white;
}

.btn:hover,
.btn:active,
.btn:focus-visible,
.btn:disabled {
    color: white !important;
}

.btn h6 {
    margin: 0px;
}

.btn-calendar:disabled {
    color: grey !important;
}
.btn-calendar {
    color: #444444 !important;
    padding-inline: 10px !important;
}

.btn-calendar:hover,
.btn-calendar:active,
.btn-calendar:focus-visible {
    background-color: #31b6ad !important;
    border-radius: 20px !important;
}

// ------------------------ Bootstrap cards

.card {
    border-width: 10px;
}

.card-form-header:first-child {
    border-radius: 2px 0 0 0;
}

.card-form {
    border-width: 2px;
    border-radius: 2px 2px 2px 2px;
}

// ------------------------ Alertas

.alert {
    border-radius: 2px;
}

// ------------------------ Admin Common

.button-center {
    display: flex;
    align-items: center;
}

// ------------------------ Admin Attentions

.attentions-pacient-form {
    position: relative;
    display: inline-block;
    width: 100%;
}

.attentions-pacient-close-button {
    position: absolute;
    top: 5%;
    right: 1%;
    padding: 5px;
    border: none;
    background-color: transparent !important;
    z-index: 1;
}

.attentions-rounded {
    border-radius: 2px;
}

.attentions-select-container {
    border: 1px solid grey;
    background-color: white;
}

.attentions-select-option {
    padding-inline-start: 10px;
}

.attentions-select-option:hover {
    background-color: #2064d4;
    color: white;
}

.attentions-select-container:empty {
    border: none;
}

// ------------------------ Admin Custom Navbar Admin

.red-sub {
    border-right: 1px solid;
    margin-right: 10px;
    margin: 2px;
}

.close-session {
    color: #dc3545;
    cursor: pointer;
}

// ------------------------ Admin Profiles

.profiles-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profiles-mobile-height {
    height: 400px;
}

.profiles-desktop-height {
    height: 500px;
}

// ------------------------ Admin LoginForm

.login-mobile-width {
    width: 180px;
}

.login-desktop-width {
    width: 450px;
}

// ------------------------ Admin ConfirmMessage

.confirm-mobile-width {
    width: 250px;
}

.confirm-desktop-width {
    width: 450px;
}
// ------------------------ Index AboutUs

.aboutus-mobile-padding {
    padding-top: 60px;
}

.aboutus-desktop-padding {
    padding-top: 150px;
}

.aboutus-mobile-font {
    font-size: 36px;
}

.aboutus-desktop-font {
    font-size: 46px;
}

.aboutus-red-color {
    color: red;
}

// ------------------------ Index AttentionProgress

.attention-mobile-padding {
    padding-top: 80px;
}

.attention-desktop-padding {
    padding-top: 150px;
}

.attention-height {
    min-height: 250px;
}

// ------------------------ Index ContactSection

.contact-mobile-padding {
    padding-top: 60px;
}

.contact-desktop-padding {
    padding-top: 150px;
}

.contact-mobile-font {
    font-size: 36px;
}

.contact-desktop-font {
    font-size: 46px;
}

// ------------------------ Index InfoSection

.ourteam-mobile-padding {
    padding-top: 60px;
}

.ourteam-desktop-padding {
    padding-top: 150px;
}

// ------------------------ Index InfoSection

.info-mobile-padding {
    padding-top: 60px;
}

.info-desktop-padding {
    padding-top: 150px;
}

// ------------------------ Index CustomNavbar

.customnavbar-no-p-m-b {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

// ------------------------ Index ExampleCase

.example-mobile-padding {
    padding-top: 60px;
}

.example-desktop-padding {
    padding-top: 150px;
}

.example-mobile-font {
    font-size: 36px;
}

.example-desktop-font {
    font-size: 46px;
}

.example-mobile-height {
    height: 400px;
}

.example-desktop-height {
    height: 450px;
}

.example-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

// ------------------------ Index Footer

.footer-mobile-padding {
    padding-top: 60px;
}

.footer-desktop-padding {
    padding-top: 150px;
}

// ------------------------ Index HeadIcons - Not used

.head-icons-mobile-padding {
    padding-top: 85px;
}

.head-icons-desktop-padding {
    padding-top: 100px;
}

.head-icons-mobile-font {
    font-size: 18px;
}

.head-icons-desktop-font {
    font-size: 18px;
}

// ------------------------ Index HomeSection

.home-mobile-padding {
    padding-top: 60px;
}

.home-desktop-padding {
    padding-top: 200px;
}

.home-mobile-font {
    font-size: 36px;
}

.home-desktop-font {
    font-size: 46px;
}

.home-home-box {
    pointer-events: none;
    cursor: default;
    border-radius: 28px;
}

.home-red-color {
    color: red;
}

// ------------------------ Index InfoSection

.info-mobile-padding {
    padding-top: 60px;
}

.info-desktop-padding {
    padding-top: 150px;
}

.info-subtitle-font {
    font-size: 28px;
}

.info-card {
    border: solid 1px grey;
    border-radius: 10px;
    padding: 50px;
    min-height: 450px;
}

.info-star {
    stroke: black;
    stroke-width: 0.2;
    margin-right: 5px;
}

// ------------------------ Index PricesSection

.prices-mobile-padding {
    padding-top: 60px;
}

.prices-desktop-padding {
    padding-top: 150px;
}

.prices-mobile-font {
    font-size: 36px;
}

.prices-desktop-font {
    font-size: 46px;
}

.prices-no-p-m-b {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.prices-container {
    background-color: #e6e6e6;
    border-radius: 10px;
}

.prices-red-color {
    color: red;
}

// ------------------------ Index Index EndPage

.end-mobile-padding {
    padding-top: 30px;
}

.end-desktop-padding {
    padding-top: 30px;
}

.end-mobile-font {
    font-size: 12px;
}

.end-desktop-font {
    font-size: 18px;
}

#end {
    background-color: #444444;
    color: white;
}

// ------------------------ Index Attention Stage 1

.attention-height {
    min-height: 400px;
}

.attention-card-border {
    border-width: 2px;
    border-radius: 3px;
}

.attention-grey {
    color: #444444;
}

.attention-red {
    color: red;
}

.attention-calendar {
    max-width: 600px;
    margin-inline: auto;
}

.attention-calendar-shadow-box {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.attention-mobile-size {
    font-size: 16px;
}

.attention-desktop-size {
    font-size: 20px;
}
