/* Estilo del contenedor */
.select-container {
    border: 1px solid grey !important; /* Borde fino de color negro */
    background-color: white !important;
}

/* Estilo de cada opción */
.select-option {
    padding-inline-start: 10px !important; /* Espaciado interno */
}

/* Estilo del hover */
.select-option:hover {
    background-color: #2064d4 !important; /* Fondo azul claro al pasar el mouse */
    color: white !important;
}

.select-container:empty {
    border: none !important;
}
